<!DOCTYPE html>
<html>
<head>
    <title>AI Code Reviewer</title>
</head>
<body>

    <h1>AI Code Reviewer</h1>

    <form action="/" method="POST">
    <textarea name="code" rows="12" cols="60" placeholder="Paste your code here..."></textarea><br><br>
    <button type="submit">Analyze Code</button>
</form>

    {% if score is not none %}
        <h2>Code Score: {{ score }}/10</h2>
    {% endif %}

    {% if result %}
        <h3>Feedback:</h3>
        <ul>
            {% for item in result %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>